data/raw/*.wav
data/meta/BRA_CRO/*.csv
data/meta/ENG_FRA/*.csv
data/meta/BRA_CRO/*.parquet
data/meta/ENG_FRA/*.parquet
data/snipped/BRA_CRO/*.wav
data/snipped/ENG_FRA/*.wav
data/results/BRA_CRO/*.csv
data/results/ENG_FRA/*.csv
data/results/*.csv
src/!archive
notebooks/!archive
src/__pycache__/*